.about-taxexpat
  .row
    .large-6.columns
      %h1
        ABOUT TAXEXP.AT 
        %br
  .row.below
    .large-6.columns
      %p If you are a U.S. citizen or green card holder living outside of the United States and have years of unfiled U.S. federal income tax returns, you are not alone. Many americans abroad have recently become aware of their US federal income tax filing obligations.  The IRS has recognized that many taxpayers overseas have not timely filed their U.S. federal income tax returns or Reports of Foreign Bank and Financial Accounts (FBARs), FinCEN Form 114 (formerly TD F 90-22.1) and is offering a special procedure to get delinquent taxpayers back on track.  The IRS presents an attractive opportunity to come into compliance in a manner that avoids possible IRS enforcement action and the significant penalties. We simplify and accelerate the tax documentation process. We facilitate the collection, validation and maintenance of the US federal income tax returns.
    .large-6.columns
      %p On July 1, 2014 the IRS expanded and modified the Streamlined Filing Compliance Procedures first implemented on September 1, 2012. The program now includes not only individual taxpayers who reside outside the United States but also US individual taxpayers residing in the United States. The 2 programs are the Streamlined Foreign Offshore Procedure and the Streamlined Domestic Offshore Program. TAXEXP.AT is designed to facilitate the use of either programme.

