.banner-top
  .row
    .small-12.columns
      %h1.text-center
        US TAX COMPLIANCE AND
        %br
        EXPATRIATION         
        %br
        MADE EASY
        %br
      %h5.text-center
        US tax returns and giving up your US citizenship. Done. Seamlessly.

  .row
    .large-8.large-offset-2.columns
      %h3 Get a consultation
      %p U.S. citizens and permanent residents pay income tax on their worldwide income. This is true no matter where they live. Every year, more people decide to relinquish their U.S. citizenship or to give up their green card (permanent resident visa) status.
    .large-8.large-offset-2.columns
      %h3 US tax law is complex. Rely on the experts. Relax. 
      %p As experts in US federal tax and international tax, we can answer your questions, help you understand your situation, and give you an action plan to move forward. If you decide to relinquish your US citizenship, the United States seeks its last chance to impose tax. This is called the “exit tax.” Section 877A of the Internal Revenue Code.
    .large-8.large-offset-2.columns.end
      %h3 Giving up U.S. citizenship without planning  may result in a large tax liability.
      %p If your net worth is high or your tax filings are not in order, the Internal Revenue Service deems you to have sold everything you own on the day before you relinquished your US citizenship.  After applying an exemption amount you pay tax on this “pretend” sale. That is all taxable income to you.




/ There are a number of other special tax rules that may create an enormous tax liability to the United States, just because you gave up your U.S. citizenship or green card visa. Even if you are not rich (again, “not rich” is defined by the U.S. government, not by you), you will still face a mountain of tax paperwork that needs to be filed correctly and on time.

/ We know these tax rules, perhaps better than anyone else, because we counsel so many people throughout this process.  Let us help you – from your initial questions when you first consider this action, through the tax planning before you relinquish citizenship, and filing the tax returns afterwards.