%section.banner-bottom
  .row
    .large-12.columns
      %h1.text-center
        YOUR DELINQUENT TAX RETURNS AND 
        %br
        RELINQUISHMENT OF THE U.S. CITIZENSHIP           
        %br
        DONE RIGHT
        %br
      %h5.large-7.large-offset-3.columns.end.text-left
        %ul
          %li 100% accurate US tax returns. 
          %li Participation in Streamlined Foreign Offshore Procedures. 
          %li Appropriate pre-expatriation US tax planning and advice. 
          %li Support when you need it.