%section.banner-bottom
  .row
    .large-12.columns
      %h1.text-center
        YOUR DELINQUENT TAX RETURNS AND 
        %br
        RELINQUISHMENT OF US CITIZENSHIP           
        %br
        DONE RIGHT
        %br
      %h5.large-6.large-offset-3.columns.end.text-left
        100% accurate US tax returns. 
        %br
        Participation in Streamlined Foreign Offshore Procedures. 
        %br
        Appropriate pre-expatriation US tax planning and advice. 
        %br
        Support when you need it.