
.explore-benefits
  .row
    .large-6.columns
      %h1
        KEY BENEFITS OF TAXEXP.AT
        %br
  .row
    .large-6.columns
      %ul.disc
        %li Helps to meet U.S. federal income tax filing and reporting obligations 
        %li Staffed by U.S. attorneys
        %li Ongoing review of your facts: relevant and on point planning and advice  
        %li Easy to get started
    .large-6.columns
      %ul.disc
        %li Puts your mind at ease 
        %li Fastest way to comply and potentially give up U.S. citizenship 
        %li Take advantage of Streamlined Foreign Offshore Procedures
        %li Removes the risk of future IRS audits and the need to file U.S. returns
