.benefits-support
  .row
    .small-12.large-4.columns.benefit
      %i.fi-comments.icon
      %h5 Supporting
      %hr
      %h6 Product and Tech Support
      %p We know the tax rules, perhaps better than anyone else, because we counsel so many people throug this process.  Let us help you – from your initial questions when you first consider this action, through the tax planning before you relinquish citizenship, and filing the tax returns afterwards.  TAXEXP.AT is here to help you and back you up.  Our experts are available if you need us, providing answers, so you can be confident your US tax returns and FinCen (FBAR) forms are done right. 
    .small-12.large-4.columns.benefit
      %i.fi-telephone.icon
      %h5 On your side
      %hr
      %h6 Tax Advice
      %p There are a number of tax rules that may create an enormous tax liability to the United States, just because you gave up your U.S. citizenship or green card.  Even if you are not rich, you will face a mountain of tax paperwork that needs to be filed correctly and on time. Get personalised, expert answers to your toughest tax questions.  Our tax experts are here to talk to you one-on-one, by phone if you need it (fees may apply). 
    .small-12.large-4.columns.benefit
      %i.fi-laptop.icon
      %h5 Social
      %hr
      %h6 Community
      %p With TAXEXP.AT, you don't need technical US tax knowledge.  If you have questions, just ask and we'll provide easy-to-understand answers online, 24/7, all year long.  We give you personalised, unbiased answers, so you can be confident your US federal tax returns and expatriation documents are done right!  Get one-on-one answers to your questions from our experts via phone or live chat.
      