
.row.home-buttons
  .large-6.columns
    %h5.subheader.text-center New to TAXEXP.AT?
    %a.expanded.large.button{href: "/pricing"} START FOR FREE   
  .large-6.columns
    %h5.subheader.text-center Existing Customer?
    %a.expanded.large.button.secondary{href: "/sessions/new"} SIGN IN
