.ready
  .row
    .large-12.columns
      %h1.text-center
        READY TO TRY 
        %br 
        TAXEXP.AT?
        %br
        %br
        .large-4.large-offset-4.columns.end
          %a.expanded.large.button{href: "/pricing"} START FOR FREE  