.testimonial-top
  %section.benefits
    .row
      .large-12.columns
        %h3.text-center
          "Fast and accurate filing of delinquent US tax returns, followed by giving up of my US citizenship has enhanced my international tax compliance efforts and was a huge relief.  This has improved my ability to focus away from the US tax compliance and assisted me in achieving my goals and objectives." 
        %h6.text-center
          — Julie Laval