.testimonial-bottom
  %section
    %section
      .row
        .large-12.columns
          %h3.text-center
            "I did not have to prepare the overdue US tax returns or worry about FBAR filings; TAXEXP.AT filled out my forms online.  Giving up my US passport was a breeze. Thank you for making the process so easy."
          %h6.text-center
            — Joseph Alderfeldt