.why-use
  %section
    .row
      .large-6.columns
        %h1
          WHY YOU SHOULD USE TAXEXP.AT  
          %br
    .row.below
      .large-6.columns
        %p Nothing strikes fear in the hearts of people more than receiving an IRS audit letter in the mail. Tax returns filed by US expatriates are selected for audit more often than the average tax return. Audits take significant time away from your business and family, requiring you to gather records substantiating each and every item reported on your tax return and develop a comprehensive understanding of tax law.
        %p The IRS leaves no stone unturned in its mission to determine the accuracy of your tax return.  If you do not comply with the auditor's requests, the IRS can recalculate your tax and send you a tax bill.
      .large-6.columns
        %p IRS auditors are trained to extract more information from you than you have a legal obligation to provide. IRS Auditors know that most people fear them and are ignorant of their rights. As a result, they know they can use that fear and ignorance to their advantage.
        %p TAXEXP.AT clients do not have to talk with the IRS. We handle the return preparation, filing, and U.S. expatriation for you so that you need not take time off of your business or job to handle the bureaucracy and paperwork of the IRS and the US Department of State.  No lost wages or business. If you get audited, you can forward notification of an audit to us and we handle it.



