.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding:30px 0px; font-weight: bold; line-height: 1em;"}
      WHICH TAXEXP.AT
      %br
      PRODUCT IS RIGHT 
      %br
      FOR YOU?
    %h5.text-center
      Try either plan with a free initial consultation. 
      %br
      No payment required. No hidden fees. 
      %br
      Cancel anytime.
      %br
      %br
  .row.collapse{style: "margin-top: 30px;"}
    .large-8.large-offset-2.column
      %table.hover
        %thead
          %tr
            %th{:width => "10"} 
            %th{:width => "100"} 
              %h2.text-center Starter 
            %th{:width => "100"} 
              %h2.text-center DeLuxe
        %tbody
          %tr
            %td
            %td.text-center 
              %i.fi-graph-trend 
              Easy prep, print and efile
            %td.text-center 
              %i.fi-graph-trend 
              Easy prep, print and efile  
          %tr 
            %td
            %td.text-center 
              %i.fi-pencil
              Provide your information
            %td.text-center  
              %i.fi-pencil
              Provide your information

          %tr
            %td         
            %td.text-center 
              %i.fi-check
              Simple situations covered
            %td.text-center  
              %i.fi-check
              Complex situations covered
          %tr
            %td  
            %td.text-center  
              %i.fi-eye
              Basic pre-expatriation planning
            %td.text-center  
              %i.fi-eye
              Complex pre-expatriation planning   
          %tr
            %td  
            %td.text-center 
              %i.fi-web
              Online Support
            %td.text-center 
              %i.fi-web
              %i.fi-telephone
              Online and Phone Support
          %tr
            %td  
            %td.text-center
              %a.large.button{href: "/users/new"} START FOR FREE
            %td.text-center
              %a.large.button{href: "/users/new"} START FOR FREE

    -#   %ul.pricing-table.left-side
    -#     %li.title Free Edition
    -#     %li.price 
    -#       Free
    -#       %br
    -#       %br
    -#     %li.description Small trust offices 
    -#     %li.bullet-item

    -#     %li.bullet-item
    -#       %i.fi-pencil
    -#       Enter your information
    -#     %li.bullet-item
    -#       %i.fi-download
    -#       Limited Transfer from previous W-8 Forms
    -#     %li.bullet-item
    -#       %i.fi-check
    -#       Simple situations covered
    -#     %li.bullet-item
    -#       %i.fi-database
    -#       Online access to all W-8 Forms on file
    -#     %li.bullet-item
    -#       %i.fi-eye
    -#       50 validations
    -#     %li.bullet-item
    -#       %i.fi-address-book
    -#       5 Clients
    -#     %li.bullet-item
    -#       %i.fi-web
    -#       Online Support
    -#     %li.cta-button
    -#       %a.button{href: "/users/new"} START FOR FREE
    -# .large-6.columns.recommended
    -#   %ul.pricing-table
    -#     %li.title Deluxe
    -#     %li.price
    -#       %span{style: "text-decoration:line-through;"}£29
    -#       %span{style: "color:#f03;"}£19 
    -#       %br
    -#       %span{style: "font-size: 0.5em;"} per month
    -#     %li.description Small financial institutions
    -#     %li.bullet-item
    -#       %i.fi-graph-trend
    -#       Easy prep, print and efile
    -#     %li.bullet-item
    -#       %i.fi-upload-cloud
    -#       Import your information
    -#     %li.bullet-item
    -#       %i.fi-download
    -#       Transfer from previous W-8 Forms
    -#     %li.bullet-item
    -#       %i.fi-check
    -#       Most simple situations covered
    -#     %li.bullet-item
    -#       %i.fi-database
    -#       Online access to all W-8 Forms on file
    -#     %li.bullet-item
    -#       %i.fi-eye
    -#       100+ validations
    -#     %li.bullet-item
    -#       %i.fi-address-book
    -#       50 Clients
    -#     %li.bullet-item
    -#       %i.fi-web
    -#       Online Support
    -#     %li.cta-button
    -#       %a.button{href: "/users/new"} START FOR FREE
    -# .large-4.columns
    -#   %ul.pricing-table.right-side
    -#     %li.title Premium
    -#     %li.price
    -#       %span{style: "text-decoration:line-through;"}£109
    -#       %span{style: "color:#f03;"}£99 
    -#       %br
    -#       %span{style: "font-size: 0.5em;"} per month
    -#     %li.description Enterprise Financial Institutions
    -#     %li.bullet-item
    -#       %i.fi-graph-trend
    -#       Web and API access
    -#     %li.bullet-item
    -#       %i.fi-upload-cloud
    -#       Import your information
    -#     %li.bullet-item
    -#       %i.fi-download
    -#       Transfer from previous W-8 Forms
    -#     %li.bullet-item
    -#       %i.fi-check
    -#       Complex situations covered
    -#     %li.bullet-item
    -#       %i.fi-database
    -#       Online access to all W-8 Forms on file
    -#     %li.bullet-item
    -#       %i.fi-eye
    -#       300+ validations
    -#     %li.bullet-item
    -#       %i.fi-address-book
    -#       1000 Clients
    -#     %li.bullet-item
    -#       %i.fi-web
    -#       %i.fi-telephone
    -#       Online and Phone Support
    -#     %li.cta-button
    -#       %a.button{href: "/users/new"} START FOR FREE