.pricing
  .row
    .large-12.columns
      %h1.text-center
        WHICH TAXEXP.AT
        %br
        PRODUCT IS RIGHT 
        %br
        FOR YOU?
      %h5.text-center
        Try either plan with a free initial consultation. 
        %br
        No payment required. No hidden fees. 
        %br
        Cancel anytime.
        %br
        %br
    .row.collapse{style: "margin-top: 30px;"}
      .large-8.large-offset-2.column
        %table.hover
          %thead
            %tr
              %th{:width => "10"} 
              %th{:width => "100"} 
                %h2.text-center Starter 
              %th{:width => "100"} 
                %h2.text-center DeLuxe
          %tbody
            %tr
              %td
              %td.text-center 
                %i.fi-graph-trend 
                Easy prep, print and efile
              %td.text-center 
                %i.fi-graph-trend 
                Easy prep, print and efile  
            %tr 
              %td
              %td.text-center 
                %i.fi-pencil
                Provide your information
              %td.text-center  
                %i.fi-pencil
                Provide your information

            %tr
              %td         
              %td.text-center 
                %i.fi-check
                Simple situations covered
              %td.text-center  
                %i.fi-check
                Complex situations covered
            %tr
              %td  
              %td.text-center  
                %i.fi-eye
                Basic pre-expatriation planning
              %td.text-center  
                %i.fi-eye
                Complex pre-expatriation planning   
            %tr
              %td  
              %td.text-center 
                %i.fi-web
                Online Support
              %td.text-center 
                %i.fi-web
                %i.fi-telephone
                Online and Phone Support
            %tr
              %td  
              %td.text-center
                %a.large.button{href: "/users/new"} START FOR FREE
              %td.text-center
                %a.large.button{href: "/users/new"} START FOR FREE