%footer
  .row.align-spaced
    .column.large-6
      %p 
        &copy; 2016 All rights reserved. 
        %br 
        Attorney Advertising. Prior results do not guarantee a similar outcome.
        %br 
        This site is not intended to provide and should not be construed as legal advice for any purpose.
    .column.large-6
      %ul.menu
        %li
          %a{:href => "https://www.facebook.com/taxexp.at/"} Facebook
        %li
          %a{:href => "#"} Twitter
        %li
          %a{:href => "terms"} Terms of Use
